@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

    * {
        box-sizing: border-box;
    }

body {
    /*background-image: url("./nature.jpg");*/
     background-image: url('https://source.unsplash.com/1600x900/?landscape'); 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
}

.search{ 
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

input.search-bar {
    
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 105%;
  }

  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    width: 44px;
    height: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}
